.main {
	height: auto;
	display: flex;
}

.collapse {
	margin-left: 30%;
}

.submain {
	width: 88%;
	margin-left: 12%;
}

.main_container {
	width: 100%; 
	height: auto;
	background-image: url('/static/PukPok/img/фон-логин.png');
	background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #222;
  background-repeat: no-repeat;
  padding: 2% 0 3% 10%;
}

.reg {
	margin-right: 1%;
}

.left_bar {
	height: 100%;
	position: fixed;
	width: 12%;
	background: #17171D;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 0.1px solid #333;
	padding: 15px; 

}

.left_bar a:hover {
	text-decoration: none;
}

.left_bar_item1 {
	color: white;
	cursor: pointer;
	padding: 8px 13px 8px 10px;
	font-size: 18px;
}

.left_bar_item2 {
	color: white;
	cursor: pointer;
	padding: 8px 77px 8px 10px;
	font-size: 18px;
}

.left_bar_item3 {
	color: white;
	cursor: pointer;
	padding: 8px 44px 8px 10px;
	font-size: 18px;
}

.left_bar_item4 {
	color: white;
	cursor: pointer;
	padding: 8px 40px 8px 10px;
	font-size: 18px;
}

.bar_item_container {
	margin-bottom: 15px;
}

.bar_item_container1 {
	margin-top: 5px;
}

.left_bar_item1:hover {
	color: white;
	background-color: #555;
	border-radius: 4px;
}

.left_bar_item2:hover {
	color: white;
	background-color: #555;
	border-radius: 4px;
}

.left_bar_item3:hover {
	color: white;
	background-color: #555;
	border-radius: 4px;
}

.left_bar_item4:hover {
	color: white;
	background-color: #555;
	border-radius: 4px;
}

.left_bar_item1:active {
	color: black;
	background-color: white;
	border-radius: 4px;
}

.left_bar_item2:active {
	color: black;
	background-color: white;
	border-radius: 4px;
}

.left_bar_item3:active {
	color: black;
	background-color: white;
	border-radius: 4px;
}

.left_bar_item4:active {
	color: black;
	background-color: white;
	border-radius: 4px;
}

.left_bar_section {
	padding-bottom: 10px;
	margin-top: 55%;
	border-bottom: 0.5px solid #444;
}

.left_bar_section2 {
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: 0.5px solid #444;
}

.posts {
	width: 1010px;
	font-family: sans-serif;
	padding-bottom: 10%;
	padding-left: 2%;
}


.last_posts {
	color: white;
	padding-top: 4%;
	margin-top: 5%;
	margin-left: 7%;
	margin-bottom: 4%
}

.post_content {
	margin-top: 5px;
	font-size: 20px;
}

.pub_date {
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	margin-right: 15px;
}

.pub_date_details {
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	margin-right: 50px;
}

.comment_pub_date {
	font-size: 12px;
	color: #444;
}

.answer {
	font-weight: bold;
}

.comment_text {
	margin-bottom: -10px;
	padding-bottom: -10px;
	margin-top: 7px;
}

.whole_comments {
	display: flex;
	margin-top: 10px;

}

.no_comments {
	font-size: 15px;
	font-style: italic;
	margin-top: 10px;
}

.p_comments {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}

.comment {
	margin-left: 15px;
	width: 680px;
}


.profile_pic {
	width: 90px;
	height: 89px;
	margin-right: 50px;
	margin-top: 10px;
	border-radius: 50%;
	margin-left: 30px; 
}

.alert {
	width: 90%;
}


.whole_post {
	display: flex;
	margin-bottom: 50px;
}

.profile_pic_comments {
	width: 50px;
	height: 50px;
	margin-right: ;
	margin-top: 0px;
	border-radius: 50%;
	margin-left: ; 
	margin-bottom: 0px;
}

.a_profile {
	margin: auto;
	color: white;
}

.profile {
	margin-right: 2%;
	display: flex;
}

.profile_picture {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	margin-right: 9%;
	margin-top: -1px; 
}

.post_author {
	margin-left: -17px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 18px;
}

.post_author1:link {
	margin-left: -17px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.comment_author {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	margin-top: 0px;
	margin-left: -14px;
}

.navbar {
	border-bottom: 0.5px solid #444;
}

.profile_url:hover {
	text-decoration: none;
	color: black;
}

.profile_url:link {
	text-decoration: none;
	color: black;
}

.profile_url:active {
	text-decoration: none;
	color: black;
}

.profile_url:visited {
	text-decoration: none;
	color: black;
}

.post_info {
	display: flex;
	justify-content: space-between;
	margin-bottom: -15px;
	margin-top: 20px;
}

.comment_info {
	display: flex;
	justify-content: space-between;
	width: 680px;
	padding-top: 0px;
	margin-top: -10px;
	margin-bottom: -20px;
}

.comment_likes {
	padding-bottom: 0px;
	vertical-align: middle;
}


.liked { 
cursor: pointer;
border:none; 
padding:0; 
margin:0; 
font-size:18px; 
color:red; 
background-color:transparent; 
}

.liked:hover {
	color: #FF5B61;
}

.liked:active {
	color: #DC143C;
}

.like { 
cursor: pointer;
border:none;
text-shadow: 0px 0px 1.5px black; 
padding:0; 
margin:0; 
font-size:18px; 
color:white; 
background-color:transparent; 
}

.like:hover {
	color: #eee;
}

.like:active {
	color: #ddd;
}

.liked_post {
margin-left: 2px;
margin-top: -8px; 
cursor: pointer;
border:none; 
padding:0;  
font-size:22px; 
color:red; 
background-color:transparent; 
}

.liked_post:hover {
	color: #FF5B61;
}

.liked_post:active {
	color: #DC143C;
}

.like_post {
text-shadow: 0px 0px 1.5px black;
margin-left: 2px;
margin-top: -8px; 
cursor: pointer;
border:none; 
padding:0;  
font-size:22px; 
color:white; 
background-color:transparent; 
}

.like_post:hover {
	color: #eee;
}

.like_post:active {
	color: #ddd;
}


.likes_info {
	display: flex;
}

.total_likes {
	margin: 0 0 7px 5px;
	font-size: 14px;
}

.comment_likes_info {
	display: flex;
}

.comment_total_likes {
	margin: 4.5px 0 0px 5px;
	font-size: 12px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;/*обнуление отступов*/
    padding: 0;/*обнуление полей*/
    box-sizing: border-box;/*метод расчета размеров бокса*/
    font-family: 'Poppins', sans-serif;/*название шрифта*/
}

footer{
    width: 100%;/*на всю ширину*/
    padding: 20px 130px 20px 0;/*поля для контента*/
    background: #111;/*цвет футера*/
    display: flex;
    justify-content: center;/*в центре по горизонтали*/
    align-items: center;/*в центре по вертикали*/
    flex-direction: column;
    margin-top: ;/*отступ сверху*/
    border-top: 1px solid #222;
}

.social,
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;/*разрешен перенос на новую строку*/
}
.social li,
.menu li{
    list-style: none;/*удалить черные маркеры*/
}
.social li a {
    font-size: 2em;/*размер иконок*/
    color: #fff;/*цвет иконок*/
    margin: 0 10px;
    display: inline-block;/*отображать как строчно-блочный элемент*/
    transition: 0.5s;/*плавный переход*/
}
.menu li a {
    font-size: 1em;/*размер ссылок меню*/
    color: #fff;/*цвет ссылок меню*/
    opacity: 0.75;/*значение прозрачности*/
    margin: 0 15px;
    text-decoration: none;/*ссылка без подчеркивания*/
    display: inline-block;
}
.menu li a:hover {
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 0.8em;
}    

.profile_page_main {
	margin-top: 5%;
	padding: 0;
}

.profile_page_picture {
	width: 200px;
	height: 200px;
}

.div_profile_page_picture {
	margin: 0 30px 0 10px;
	padding-right: 30px;
	border-right: 1px solid #333;
}

.window_register {
  margin: 5% auto 0 27.5%;
  width: 62vh;
  background: ;
  padding: 15% 3vh 3vh 3vh;
  border: 0px solid #bbb;
  border-radius: 2vh;
  height: auto;
  padding: 4vh;
  opacity: 0.8;
  }

  .reg_input {
  color: white;
  font-size: 2.2vh;
  margin: 0 auto 2vh auto;
  height: 6vh;
  border: 0.07vh solid #ddd;
  border-radius: 0.75vh;
  width: 100%;
  padding-left: 0vw;
  text-indent: 1vw;
  background: #111;
}  

.reg_form {
  margin-top: 7.5%;
  margin-left: auto;
  margin-right: auto;
  width: 85%; 
}

.reg_submit {
  margin: 2vh 4% 0 auto;
  height: 1.2vh;
  font-family: monospace;
  width: 25%;
  margin-bottom: 0.75vh;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.reg_click {
  margin-left: auto;
  margin-right: auto;
  font-size: 2vh;
  width: 100%;
  text-align: center;
  height: 100%;
  background: #883044;
  border-radius: 0.8vh;
  margin-bottom: 1vh;
  color: #FEF1B8;
  cursor: pointer;
  border: 0;
}

.reg_click:hover {background: #974A5C;}
.reg_click:active {background: #883044;}

.reg_sign_in {
  padding: 2% 0 0 0;
  font-size: 2vw;
  margin: -10px auto -5px auto;
  text-align: center;
  color: #FEF7E8;
  opacity: 1;
  font-family: arial;
} 

.reg_container {
	min-height: 100%;
	padding-top: 8%;
	background-image: url('/static/PukPok/img/фон-логин.png');
	background-attachment: fixed;
  	background-position: center center;
  	background-size: cover;
  	background-color: #101012;
  	background-repeat: no-repeat;
}

.forget {
  width: 98%;
  text-align: left;
  font-size: 2vh;
  margin-left: 0.1vw;
  vertical-align: middle;
  text-decoration: none;
  margin-top: -0px;
}
.forget:link, .forget:visited {
  color: white;
}
.forget:hover {
  color: #aaa;
}

.reg_index {
  height: 3.6vh;
  font-family: arial;
  width: 36%;
  background: ;
  margin: 3.75vh auto 0 0;
  color: #883044;
  border-radius: 0.7vh;
  border: 0.1vh solid #883044;
  padding-top: auto;
  font-size: 2.2vh;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg_index:link {text-decoration: none;}
.reg_index:hover {background: #CE99AA;}
.reg_index:active {background: #BD778D;}

.index_account {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.login_input {
  color: white;
  font-size: 2.2vh;
  margin: 0 auto 1.5vh auto;
  height: 6vh;
  border: 0.07vh solid #ddd;
  border-radius: 0.75vh;
  width: 80%;
  padding-left: 0vw;
  text-indent: 1vw;
  background: #111;
}  

.login_sign_in {
  padding: 2% 0 0 0;
  font-size: 2vw;
  margin: -10px 20% 25px 0;
  text-align: center;
  color: #FEF7E8;
  opacity: 1;
  font-family: arial;
} 

.login_container {
	min-height: 120%;
	padding-top: 8%;
	background-image: url('/static/PukPok/img/фон-логин.png');
	background-attachment: fixed;
  	background-position: center center;
  	background-size: cover;
  	background-color: #101012;
  	background-repeat: no-repeat;
}

.window_login {
  margin: 5% auto 0 30%;
  width: 65vh;
  background: ;
  padding: 15% 3vh 3vh 3vh;
  border: 0px solid #bbb;
  border-radius: 2vh;
  height: auto;
  padding: 4vh;
  opacity: 0.8;
  }

.create_account {
	margin-top: 15px;
	margin-left: ;
}

.log_submit {
  margin: 2vh 85px 0 0;
  height: 1.2vh;
  font-family: monospace;
  width: 25%;
  margin-bottom: 0.75vh;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.flex {
	display: flex;
	margin-left: 2%;
}

.errorlist {
	color: white;
	list-style: ;
}

.profile_page_main {
	min-height: 120%;
	padding-top: 1px;
	background-image: url('/static/PukPok/img/фон-логин.png');
	background-attachment: fixed;
  	background-position: center center;
  	background-size: cover;
  	background-color: #101012;
  	background-repeat: no-repeat;	
}

.user_header {
	margin: 60px 0 20px 160px;
	width: 900px;
	border-radius: 0%;
	padding-top: 5%;
}

.pic_and_bio {
	display: flex;
}

.username {
	padding: 7px 5px 0px 35px;
	display: flex;
}

.bio_and_links {
	margin-top: 10px;
}

.links {
	display: flex;
	padding: 7px 5px 0px 10px;
}

.link {
	padding: 0 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	width: 50px;
}

.page_content {
	width: 95%;
	margin-left: 0;
}

.post_form {
	width: 850
	background: white;
	margin: -20px 0px 10px 160px;
	
}

.post_input {
  color: white;
  font-size: 2.2vh;
  margin: 0 0 2vh 0;
  height: 70px;
  border: 0.07vh solid #black;
  border-radius: 20px 20px;
  width: 100%;
  padding: 1vh 1.2vw;
  background: #222;
}

.form {
	display: flex;
	flex-direction: column;
	width: 110%;
	height: 10%
	margin-right: 0;
}

.profile_page_picture {
	border-radius: 3%;
	border: 1px solid #333;
}

.post_detail {
	width: 1010px;
	height: ;
	margin: 4% 0 0 3%;
	padding-bottom: 2%;
}

.a_post_detail {
	text-decoration: none;
	cursor: pointer;
	color: black;
	font-size: 18px;
}

.a_post_detail:link {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.a_post_detail:hover {
	text-decoration: none;
	cursor: pointer;
	color: black
}

.a_add_comment {
	width: 40px;
	height: 35px;
	border-radius: 0%;
	display: flex;
	padding: 0;
	background: #EDEFF2;
	margin: 7px 0; 
}

.add_comment {
	width: 40px;
	height: 35px;
	border-radius: 0;
	display: flex;
	padding: 0;
	background: #EDEFF2;
	margin-top: 1px; 
}

.leave_com {
	padding: 8px 6px 7px 6px;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	font-size: 18px;
	color: #555;
	background: #EDEFF2;
}

.h1_friends {
	padding: 5% 0 53% 5%;
	color: white;
}

.friends_main {
	padding-top: 5%;
	margin-bottom: -10px; 
	background-image: url('/static/PukPok/img/фон-логин.png');
	background-attachment: fixed;
  	background-position: center center;
  	background-size: cover;
  	background-color: #101012;
  	background-repeat: no-repeat;	
}

.comment_input {
  opacity: 0.9;
  color: black;
  font-size: 1.9vh;
  margin: 0 0 15px 15px;
  height: 85px;
  border: 0.07vh solid #ddd;
  border-radius: 10px 10px;
  width: 680px;
  padding: 1vh 1.2vw;
  background: white;
}

.comment_form {
	width: 130%
	background: white;
	color: black;
	margin: 0;
}

.send_comment {
	display: flex;
	padding: 5px 0;
}

.h1_detail {
	padding: 5% 0 0% 6%;
	color: white;
}

.flex {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	text-align: center;
	margin-bottom: -22px;
}

.post_update {
	font-weight: normal;
	font-size: 18px;
	margin-right: 27px;
	color: #555;
	text-decoration: none;
	margin-top: -2px;
}

.post_update:link {
	font-weight: normal;
	font-size: 18px;
	margin-right: 27px;
	color: #555;
	text-decoration: none;
	margin-top: -2px;
}

.post_update:hover {
	font-weight: normal;
	font-size: 18px;
	margin-right: 27px;
	color: #333;
	text-decoration: none;
	margin-top: -2px;
}

.post_update:active {
	font-weight: normal;
	font-size: 18px;
	margin-right: 27px;
	color: #111;
	text-decoration: none;
	margin-top: -2px;
}

.post {
	margin-bottom: 15px;
	padding-left: 10px;
}

.flex1 {
	display: flex; 
}

.post_delete {
	font-weight: normal;
	font-size: 16px;
	color: #555;
	text-decoration: none;
}

.post_delete:link {
	font-weight: normal;
	font-size: 16px;
	color: #555;
	text-decoration: none;
}

.post_delete:hover {
	font-weight: normal;
	font-size: 16px;
	color: #333;
	text-decoration: none;
}

.post_delete:active {
	font-weight: normal;
	font-size: 16px;
	color: #111;
	text-decoration: none;
}

.upd_flex {
	display: flex;
}

.govno {
	width: 100%;
	padding-right: 5%;
}

.comment_form1 {
	width: 135%;
}

.comment_update {
	font-weight: normal;
	font-size: 14px;
	margin-right: 25px;
	color: #555;
	text-decoration: none;
	margin-top: -1px;
}

.comment_update:link {
	font-weight: normal;
	font-size: 14px;
	margin-right: 25px;
	color: #555;
	text-decoration: none;
}

.comment_update:hover {
	font-weight: normal;
	font-size: 14px;
	margin-right: 25px;
	color: #333;
	text-decoration: none;
}

.comment_update:active {
	font-weight: normal;
	font-size: 14px;
	margin-right: 25px;
	color: #111;
	text-decoration: none;
}

.comment_delete {
	font-weight: normal;
	font-size: 12px;
	color: #555;
	text-decoration: none;
}

.comment_delete:link {
	font-weight: normal;
	font-size: 12px;
	color: #555;
	text-decoration: none;
}

.comment_delete:hover {
	font-weight: normal;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}

.comment_delete:active {
	font-weight: normal;
	font-size: 12px;
	color: #111;
	text-decoration: none;
}

.message {
	font-size: 13px;
	max-width: 15%;
	color: white;
	padding-top: 4%;
	margin-top: 5%;
	padding-left: 0px;
	margin-right: 14%;
	margin-bottom: ;
}

.last_posts1 {
	color: white;
	padding-top: 4%;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.message1 {
	width: auto;
	padding: 5% 0 0% 6%;
	font-size: 13px;
	max-width: 25%
}

.part_whole_comments {
	background: #aaa;
	display: flex;
	margin-top: 10px;
	padding: 8px 10px 14px 10px;
	border: 1px solid #999;
	border-radius: 10px/10px;
	margin-left: -11px;
}

.img4 {
	width: 25px;
}

.img1 {
	width: 27px;
}

.img3 {
	width: 25px;
}

.img2 {
	width: 25px;
}

.img8 {
	width: 35px;
}

.img5 {
	width: 37px;
}

.img7 {
	width: 35px;
}

.img6 {
	width: 35px;
}

.edit_profile_container {
	padding: 5% 5%;
	color: white;
}

.username_input {
	width: 20%;
}

.email_input {
	width: 20%;
}

.profile_pic_input {
	width: 20%;
}

.bio_input {
	width: 20%;
}

.birthdate_input {
	width: 20%;
}

.city_input {
	width: 20%;
}

.first_name_input {
	width: 20%;
}

.last_name_input {
	width: 20%;
}

.sex_input {
	width: 20%;
}

.vk_input {
	width: 20%;
}

.inst_input {
	width: 20%;
}

.telegram_input {
	width: 20%;
}

.tiktok_input {
	width: 20%;	
}

legend {
	display: none;
}

.title {
	margin-bottom: 2%;
}

.is_online {
	font-size: 12px;
	margin: 14px 0 0 1vw;
	color: #999;
}

ul.errorlist {
	color: red;
}

.edit_profile_form {
	width: 70%;
}

.user_settings_form {
	width: 70%;
}

.bio_input {
  opacity: 0.8;
  color: white;
  font-size: 2.2vh;
  margin: 0 auto 2vh auto;
  height: 110px;
  border: 0.07vh solid #ddd;
  border-radius: 20px 20px;
  width: 100%;
  padding: 1vh 1.2vw;
  
  background: #111;
}

.subscribe_form {
	margin: 15px 0 0 6px;
}

.sub_card {
	background: #333;
	width: 600px;
	height: 115px;
	border-radius: 20px 20px;
	margin: 0 0 0 200px;
	border: 1px solid #555;
}

.sub_card:hover {
	background: #222;
	transition: .2s ease-out;
}

.sub_card_header {
	display: flex;
	justify-content: space-between;
	width: auto;
	height: 50px;
}

.pic_username_flex {
	display: flex;
}

.sub_username {
	margin: 15px 0 0 0px;
	font-size: 18px;
	height: 20px;
	display: flex;
	width: 460px;
	justify-content: space-between;
}

.unsub_form {
	margin: -2px -12px 0 30px;
}

.sub_username_link {
	color: white;
}

.sub_username_link:hover {
	color: white;
}

.sub_info {
	margin: 5px 0 0 120px;
}

.sub_city {
	font-size: 11px;
	color: #ccc;
	margin: -10px 0 0 -6px; 
	font-weight: bold;
}

.sub_bio {
	font-size: 13px;
	color: #ccc; 
}

.online {
	font-size: 10px;
	color: #aaa;
	margin: -13px 0 0 120px;
}

.location {
	width: 17px;
	margin: -1px 3px 3px 2px;
}

.profile_subs_info {
	display: flex;
	color: #fff;
	font-size: 14px;
	margin: 12px 10px -20px auto;
	text-align: center;
	justify-content: center;
}

.number {
	font-size: 16px;
	font-weight: bold;
}

.subs_word {
	font-size: 12px;
	color: #ccc;
	margin-top: -8px; 
}

.subscribers_word {
	font-size: 12px;
	color: #ccc;
	margin-top: -8px; 
}

.subscribers_amount {
	margin-right: 20px; 
}

.subs_title {
	display: flex;
}

.sub_link {
	color: white;
}

.sub_link:hover {
	color: white;
	text-decoration: none;
}

.likes_amount_url {
	color: black;
	text-decoration: none;
}

.likes_amount_url:hover {
	color: black;
}

.likes_amount_url:link {
	color: black;
}

.img_post_image {
	max-width: 600px;
	max-height: 600px; 
}

.notifications_icon {
	margin: 1px -6px 0 0;
}

.note_img {
	width: 25px;
}

.notes_amount {
	margin: 0 0 1px 2.5px;
	font-size: 10px;
	color: white;
	display: block;
	padding: 0px 2px 2px 2px;
}

.div_notes_amount {
	margin: 0 25px 0 5px;
}

.note_card {
	background: #333;
	width: 700px;
	height: 120px;
	border-radius: 20px 20px;
	margin: 0 0 0 160px;
	border: 1px solid #555;
	position: relative;
}

.note_card:hover {
	background: #222;
	transition: .2s ease-out;
}

.wrap {
	display: inline-block;
	margin-left: 5px;
	position: absolute;
	top: 15%;
}

.sub_note {
	margin: auto;
}

.like_post_note {
	margin: auto;
}

.like_comment_note {
	margin: auto;
}

.comment_note {
	margin: auto;
}

.note_type_img {
	width: 80px;
	margin-right: 20px;
	border-right: 1px solid #777;
	padding: 10px 20px;
}

.note_profile_pic {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #222;
	margin-right: 10px;
}

.note_username_link {
	color: white;
	font-size: 20px;
	margin: 0;
	position: absolute;
	top: 5%;
	display: flex;
	margin-left: 195px;
	width: 400px;
}

.note_username_link:hover {
	color: white;
}

.note_message {
	margin: -47px 0 0 195px;
	font-size: 14px;

}

.note_timestamp {
	margin: 4px 0 0 193px;
	color: #aaa;
	font-size: 12px;
}

.note_message_add {
	margin: 1px 0 0 195px;
	font-size: 11px;
	color: #bbb;

}

.note_timestamp_like_comment {
	margin: 2px 0 0 193px;
	color: #aaa;
	font-size: 12px;
}

.left_comment {
	font-size: 14px;
	margin-left: 7px;
	margin-top: 4px;
	color: #aaa;
	text-decoration: none;
}

.left_comment:hover {
	text-decoration: none;
	color: #aaa;
}

.hide_note {
	position: absolute;
	left: 88%;
	top: 10%;
}

.new_notes {
	position: absolute;
	left: 29%;
	font-size: 18px;
}

.form_profile_picture {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 5px 10px;
}

.no_notifications {
	margin-left: 160px;
	font-size: 18px;
}

.only_flex {
	display: flex;
}

.user_subs_info {
	width: 110px;
	margin-top: 18px;
	margin-left: -230px;
	font-size: 12px;
	text-align: center;
	display: flex;
}