{% extends 'base.html' %}
{% load static %}

{% block title %}
Редактировать профиль
{% endblock %}

{% block content %}
<main class="profile_page_main">
	<div class="edit_profile_container">
		{% if user.is_authenticated %}
		{% if request.user.id == profile.pk %}
		<h1 class="title">Изменить профиль</h1>
		<form method="post" enctype='multipart/form-data'>
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary">
			Сохранить
			</button>
		</form>
		{% endif %}
		{% endif %}
	</div>
</main>
{% endblock %}