{% extends 'base.html' %}
{% load static %}

{% block title %}
Редактировать профиль
{% endblock %}

{% block content %}
<main class="main_container">
	<div class="edit_profile_container" style="padding-top: 8%; padding-bottom: 30%;">
		{% if user.is_authenticated %}
		{% if request.user.profile.id == profile.pk %}
		<h1 class="title">Изменить профиль</h1>
		<form class="edit_profile_form" method="post" enctype='multipart/form-data'>
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary">
			Сохранить
			</button>
		</form>
		{% endif %}
		{% endif %}
	</div>
</main>
<script>
	var textarea = document.getElementById("bio_input");
	var heightLimit = 500; /* Maximum height: 200px */
	textarea.oninput = function() {
	  textarea.style.height = ""; /* Reset the height*/
	  textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
	};
</script>
{% endblock %}