{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ page_user }}
{% endblock %}

{% block content %}
<main class="main_container">
  {% if messages %}
    <div style="margin-bottom: -45px; margin-top: 30px; margin-left: 75%; width: 11%; text-align: center;" class="profile_message">
    {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger mt-4 ml-5 mb-0 pl-0 pr-0 pt-2 pb-2" style="margin-bottom: -75px;" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-success mt-4 ml-5 mb-0 pl-0 pr-0 pt-2 pb-2" style="margin-bottom: -75px;" role="alert">
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
  <div class="user_header">
    <div class="card text-white bg-dark mb-5" style="border: 2px solid #111;">
      <div class="card-header" style="display: flex; justify-content: space-between; margin: 0; padding: 8px 8px 5px 5px;">
        <h2 class="username">{{ page_user }}</h2>
        <h5 class="username">
          <div class="links">
          {% if page_user.link1 %}
            <div class="link1"><a href="{{ page_user.link1 }}" class="link"><img class="img1" src="{% static 'PukPok/img/icons8-вконтакте.svg' %}" alt=""></a></div>
          {% endif %}
          {% if page_user.link2 %}
            <div class="link2"><a href="{{ page_user.link2 }}" class="link"><img class="img2" src="{% static 'PukPok/img/icons8-instagram.svg' %}" alt=""></a></div>
          {% endif %}
          {% if page_user.link3 %}
            <div class="link3"><a href="{{ page_user.link3 }}" class="link"><img class="img3" src="{% static 'PukPok/img/icons8-телеграм.svg' %}" alt=""></a></div>
          {% endif %}
          {% if page_user.link4 %}
            <div class="link4"><a href="{{ page_user.link4 }}" class="link"><img class="img4"  src="{% static 'PukPok/img/icons8-тикток.svg' %}" alt=""></a></div>
          {% endif %}
          </div>
        </h5>
      </div>
      <div class="card-body text-white">
        <div class="pic_and_bio">
          <div class="div_profile_page_picture">
          {% if page_user.profile_pic %}
            <img class="profile_page_picture" src="{{ page_user.profile_pic.url }}" alt="-">
          {% else %}
            <img class="profile_page_picture" src="{% static 'PukPok/img/дефолтная-ава.jpeg' %}" alt="-">
          {% endif %}
          </div>
          <div class="bio_and_links">
            <h7 class="card-title">Био: &ensp; {{ page_user.bio }}</h7>
            <hr>
            {% if page_user.sex %}
            <h7 class="card-title">Пол: &ensp; {{ page_user.sex }}</h7>
            <hr>
            {% endif %}
            <h7 class="card-title">Дата регистрации: &ensp; {{ page_user.user.date_joined|date:"j E Y г." }}</h5>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page_content" style="padding-bottom: 20%; margin-bottom: 0;">
    {% if user.is_authenticated %}
      {% if user.id == page_user.id %}
        <div class="post_form">
          <form class="form" style="width: 103%;" action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            {{ create_post_form }}
            <button type="submit" class="btn btn-light btn-block" style="margin-top: 5px; width: 15%; text-align: center; margin-left: 85%; margin-bottom: 5%;" >Запостить</button>
          </form>

          <script>
            var name = "{{ user.id }}";
            document.getElementById("name").value = name;
          </script>

        </div>
      {% endif %}
    {% endif %}  
    <div style="padding-bottom: 1%; margin-bottom: 0;" class="posts">
          {% for post in posts %}
          <div class="post" style="width: 103%;">
            <div class="whole_post">
              <div class="profile_pic">
                <a href="{% url 'profile_page' post.author.profile.id %}">
                  {% if post.author.profile.profile_pic %}
                  <img class="profile_pic" src="{{ post.author.profile.profile_pic.url }}" alt="-">
                  {% else %}
                  <img class="profile_pic" src="{% static 'PukPok/img/дефолтная-ава.jpeg' %}" alt="-">
                  {% endif %}
                </a>
              </div>
              <div class="alert alert-dark" style="padding-left: 25px;">
                <div class="flex">
                  <a href="{% url 'profile_page' post.author.profile.id %}" class="profile_url"><p class="post_author">{{ post.author.username }}</p></a>
                  {% if user.is_authenticated %}
                  {% if post.author.id == user.id %}
                  <div class="flex1">
                    {% if post.can_edit %}
                    <a href="{% url 'update_post' post.pk %}" class="post_author1"><p class="post_update">✎</p></a>
                    {% endif %}
                    <a href="{% url 'delete_post_profile' post.pk %}" class="post_author1"><p class="post_delete">✕</p></a>
                  </div>
                  {% endif %}
                  {% endif %}
                </div>
                <p class="post_content"><a href="{% url 'post_detail' post.pk %}" class="a_post_detail">{{ post.content|linebreaks }}</a></p>
                <div class="post_info">
                  <div class="post_likes">
                    <form action="{% url 'like_post' post.pk %}" method="POST" class="likes_info">
                      {% csrf_token %}
                      {% if user in post.likes.all %}
                      <button type="submit" name="post_id" value="{{ post.id }}" class="liked_post">❤</button>
                      {% else %}
                      <button type="submit" name="post_id" value="{{ post.id }}" class="like_post">❤</button>
                      {% endif %}
                      <div class="total_likes">
                        {{ post.total_likes }}
                      </div>
                    </form>
                  </div>
                  {% if post.posted_at|date:"d M H:i:s" == post.edited_at|date:"d M H:i:s" %}
                    {% if post.mytime1 == 1 %}
                    <p class="pub_date">сегодня в {{ post.posted_at|date:"H:i" }}</p>
                    {% elif post.mytime1 == 2 %}
                    <p class="pub_date">вчера в {{ post.posted_at|date:"H:i" }}</p>
                    {% elif post.mytime1 == 3 %}
                    <p class="pub_date">позавчера в {{ post.posted_at|date:"H:i" }}</p>
                    {% elif post.mytime1 == 4 %}
                    <p class="pub_date">{{ post.posted_at|date:"j E в H:i" }}</p>
                    {% elif post.mytime1 == 5 %}
                    <p class="pub_date">{{ post.posted_at|date:"j E y" }}</p>
                    {% else %}
                    <p class="pub_date">{{ post.mytime1 }}</p>
                    {% endif %}
                  {% else %}
                    {% if post.mytime1 == 1 %}
                    <p class="pub_date">сегодня в {{ post.posted_at|date:"H:i" }} (ред.)</p>
                    {% elif post.mytime1 == 2 %}
                    <p class="pub_date">вчера в {{ post.posted_at|date:"H:i" }} (ред.)</p>
                    {% elif post.mytime1 == 3 %}
                    <p class="pub_date">позавчера в {{ post.posted_at|date:"H:i" }} (ред.)</p>
                    {% elif post.mytime1 == 4 %}
                    <p class="pub_date">{{ post.posted_at|date:"j E в H:i" }} (ред.)</p>
                    {% elif post.mytime1 == 5 %}
                    <p class="pub_date">{{ post.posted_at|date:"j E Y" }} (ред.)</p>
                    {% else %}
                    <p class="pub_date">{{ post.mytime1 }} (ред.)</p>
                    {% endif %}
                  {% endif %}
                </div>
                <br> 
                <p class="p_comments">{{ post.comments.count }} {{ post.total_comments }}</p>
                <hr>
                {% if post.comments.all %}
                {% for comment in post.comments.order_by %}
                <div class="comments">
                  <div class="whole_comments">
                    <div class="profile_pic_comments">
                      <a href="{% url 'profile_page' comment.author.profile.id %}">
                      {% if comment.author.profile.profile_pic %}
                      <img class="profile_pic_comments" src="{{ comment.author.profile.profile_pic.url }}" alt="-">
                      {% else %}
                      <img class="profile_pic_comments" src="{% static 'PukPok/img/дефолтная-ава.jpeg' %}" alt="-">
                      {% endif %}
                      </a>
                    </div>
                    <div class="comment">
                      <div class="flex">
                      <a href="{% url 'profile_page' comment.author.profile.id %}" class="profile_url"><p class="comment_author">{{ comment.author.username }}</p></a>
                      {% if user.is_authenticated %}
                      {% if comment.author.id == user.id %}
                      <div class="flex1">
                        {% if comment.can_edit %}
                        <a href="{% url 'update_comment' comment.pk %}" class="post_author1"><p class="comment_update">✎</p></a>
                        {% endif %}
                        <a href="{% url 'delete_comment_profile' post.pk comment.pk %}" class="post_author1"><p class="comment_delete">✕</p></a>
                      </div>
                      {% elif post.author.id == user.id %}
                      <a href="{% url 'delete_comment_profile' post.pk comment.pk %}" class="post_author1"><p class="comment_delete">✕</p></a>
                      {% endif %}
                      {% endif %}
                    </div>
                    <p class="comment_text">{{ comment.comment_text|linebreaks }}</p>
                    <div class="comment_info">
                      {% if comment.comment_posted_at|date:"d M H:i:s" == comment.comment_edited_at|date:"d M H:i:s" %}
                        {% if comment.с_mytime1 == 1 %}
                        <p class="comment_pub_date">сегодня в {{ comment.comment_posted_at|date:"H:i" }} &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 2 %}
                        <p class="comment_pub_date">вчера в {{ comment.comment_posted_at|date:"H:i" }} &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 3 %}
                        <p class="comment_pub_date">позавчера в {{ comment.comment_posted_at|date:"H:i" }} &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 4 %}
                        <p class="comment_pub_date">{{ comment.comment_posted_at|date:"j E в H:i" }} &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 5 %}
                        <p class="comment_pub_date">{{ comment.comment_posted_at|date:"j E Y" }} &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% else %}
                        <p class="comment_pub_date">{{ comment.с_mytime1 }} &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% endif %}
                      {% else %}
                        {% if comment.с_mytime1 == 1 %}
                        <p class="comment_pub_date">сегодня в {{ comment.comment_posted_at|date:"H:i" }} (ред.) &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 2 %}
                        <p class="comment_pub_date">вчера в {{ comment.comment_posted_at|date:"H:i" }} (ред.) &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 3 %}
                        <p class="comment_pub_date">позавчера в {{ comment.comment_posted_at|date:"H:i" }} (ред.) &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 4 %}
                        <p class="comment_pub_date">{{ comment.comment_posted_at|date:"j E в H:i" }} (ред.) &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% elif comment.с_mytime1 == 5 %}
                        <p class="comment_pub_date">{{ comment.comment_posted_at|date:"j E Y" }} (ред.) &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% else %}
                        <p class="comment_pub_date">{{ comment.с_mytime1 }} (ред.) &ensp; | &ensp; <a href="#" class="answer">Ответить</a></p>
                        {% endif %}
                      {% endif %}
                        <div class="comment_likes">
                          <form action="{% url 'like_comment' comment.pk %}" class="comment_likes_info" method="POST">
                          {% csrf_token %}
                          {% if user in comment.likes.all %}
                            <button type="submit" name="comment_id" value="{{ comment.id }}" class="liked">
                            ❤
                            </button>
                          {% else %}
                            <button type="submit" name="comment_id" value="{{ comment.id }}" class="like">
                            ❤
                            </button>
                          {% endif %}
                            <div class="comment_total_likes">
                              {{ comment.total_likes }}
                            </div>
                          </form>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                  <hr>
                </div>    
                {% endfor %}
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'post_detail' post.pk %}" class="btn btn-dark mt-1 mb-1">Комментировать</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-dark mt-1 mb-1">Комментировать</a>
                {% endif %}
              </div>      
            </div>
          </div>
          {% endfor %}  
        </div>
      </div>

</main>

{% endblock %}
