{% extends 'base.html' %}
{% load static %}

{% block title %}
Редактировать пост
{% endblock %}

{% block content %}
<main class="profile_page_main">
	{% if user.is_authenticated %}
	{% if post.author.id == user.id %}
	{% if post.can_edit %}
	<h1 class="h1_detail">Редактировать пост</h1>
	<div class="upd_flex">
		<div class="profile_pic" style="margin-top: 2.8%">
	      <a href="{% url 'profile_page' post.author.profile.id %}">
	        {% if post.author.profile.profile_pic %}
	        <img class="profile_pic" src="{{ post.author.profile.profile_pic.url }}" alt="-">
	        {% else %}
	        <img class="profile_pic" src="{% static 'PukPok/img/дефолтная-ава.jpeg' %}" alt="-">
	        {% endif %}
	      </a>
	    </div>
		<form method="post" style="width: 65%; margin: 3% 0 0% 0.5%; padding-bottom: 5%;">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="button_group">
				<button action="{% url 'post_detail' post.pk %}" class="btn btn-light" style="margin-top: -10px;">Сохранить</button>
				<a href="{% url 'delete_post' post.pk %}" style="margin-top: -10px; margin-left: 20px;" class="btn btn-dark btn-sm">Удалить</a>
			</div>
		</form>
	</div>
	{% else %}
	<div class="govno">
		<h2 class="h1_detail" style="margin-bottom: 0; padding: 8% 20% 4% 24.7%;">Изменить этот пост уже невозможно :(</h2>
		<a href="{% url 'index' %}" class="btn btn-light btn-lg" style="margin: 0 43%; margin-bottom: 3%">На главную</a>
		<img src="{% static 'PukPok/img/дефолтная-ава.png' %}" alt="" style="margin: 0 32.5% 0 32.5%; width: 400px; padding-bottom: 0">
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
	<script>
	    var textarea = document.getElementById("text_input");
	    var heightLimit = 1500; /* Maximum height: 200px */
	    textarea.oninput = function() {
	      textarea.style.height = ""; /* Reset the height*/
	      textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
	    };
  	</script>
</main>
{% endblock %}