{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}

{% block title %}
Редактировать профиль
{% endblock %}

{% block content %}
<main class="profile_page_main">
	<div class="edit_profile_container">
		<h1>Изменить профиль</h1>
		<div class="form-group mt-4">
			<form method="post" enctype='multipart/form-data'>
				{% csrf_token %}
				{% render_form serializer %}
				<button class="btn btn-success ml-3 mt-3">
				Сохранить
				</button>
			</form>
		</div>
	</div>
</main>
<script>
            var username = "{{ user.username }}";
            document.getElementById("username").value = username;

            var email = "{{ user.email }}";
            document.getElementById("email").value = email;

            var profile_pic = "{{ user.profile.profile_pic }}";
            document.getElementById("profile_pic").value = profile_pic;

            var bio = "{{ user.profile.bio }}";
            document.getElementById("bio").value = bio;

            var birthdate = "{{ user.profile.birthdate|date:"Y-m-d" }}";
            document.getElementById("birthdate").value = birthdate;

            var city = "{{ user.profile.city }}";
            document.getElementById("city").value = city;

            var first_name = "{{ user.profile.first_name }}";
            document.getElementById("first_name").value = first_name;

            var last_name = "{{ user.profile.last_name }}";
            document.getElementById("last_name").value = last_name;

            var sex = "{{ user.profile.sex }}";
            document.getElementById("sex").value = sex;

            var vk = "{{ user.profile.link1 }}";
            document.getElementById("vk").value = vk;

            var inst = "{{ user.profile.link2 }}";
            document.getElementById("inst").value = inst;

            var telegram = "{{ user.profile.link3 }}";
            document.getElementById("telegram").value = telegram;

            var tiktok = "{{ user.profile.link4 }}";
            document.getElementById("tiktok").value = tiktok;
        </script>
{% endblock %}