{% extends 'base.html' %}
{% load static %}

{% block title %}
Настройки пользователя
{% endblock %}

{% block content %}
<main class="profile_page_main">
	<div class="edit_profile_container">
		{% if user.is_authenticated %}
		{% if request.user.id == user.pk %}
		<h1 class="title">Настройки аккаунта</h1>
		<form class="user_settings_form" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-light">Сохранить</button>
			<a href="{% url 'delete_user' user.pk %}" class="btn btn-danger btn-sm ml-3">Удалить аккаунт</a>
		</form>
		{% endif %}
		{% endif %}
	</div>
</main>
<script>
	document.getElementById("id_password").style.display = "none";
</script>
{% endblock %}